extend layout
block content
  if doc.references.above
    a(href='/?id=#{doc.references.above}', class='topNavigation') 
  if doc.references.right
    a(href='/?id=#{doc.references.right}', class='rightNavigation') 
  if doc.references.below
    a(href='/?id=#{doc.references.below}', class='bottomNavigation') 
  if doc.references.left
    a(href='/?id=#{doc.references.left}', class='leftNavigation') 
  p(style='white-space:pre;') #{doc.text}

//-
  block sidebar
    .widget
      h1 Widget
      p
        | Sed auctor neque eu tellus rhoncus ut
        | eleifend nibh porttitor. Ut in nulla enim.
      p
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula.