//-lista de <a> con los blogs existentes
//-qué será... mi tabla de "blogs"
//-la "default" sería la última que el tipo ingresó/navegó
//-sino "fragmentos". O sea que dependería de que el tipo ya haya ingresado
//-o sea que el default de ejecución es: obtengo al tipo y su "historial"
//-lo dejo seguir desde donde dejó... update: opción básica para los conocidos.
extend layout
block content
  //-hay que declarar las putas variables adentro del puto block
  - var mockup_blogs = { 0: "fragmentosargentinos", 1: "segundacita" };
  .widget
    //-va a tener dos propiedades, al menos: ID y label
    each val, index in mockup_blogs
      a.blog_link(href='goTo?blog=' + index) #{ val }
      br
